$accent: #59c56b;

$header-primary: #070807;
$header-secondary: #4e5f51;

$text-normal: #2e3830;
$text-muted: #738c77;
$text-link: #00e025;

$interactive-normal: #4e5f51;
$interactive-hover: #2e3830;
$interactive-active: #070807;
$interactive-muted: #c7d1c9;

$background-primary: #ffffff;
$background-secondary: #f1f4f1;
$background-tertiary: #e3e8e4;

$background-modifier-hover: rgba(115, 140, 119, 0.08);
$background-modifier-active: rgba(115, 140, 119, 0.16);
$background-modifier-selected: rgba(115, 140, 119, 0.24);
$background-modifier-accent: rgba(7, 8, 7, 0.08);
